/*
 * stylesheet for content/*.html files
 *
 * snu.css attributes inherited when content pages displayed in snu_iframe,
 * and not inherited when displayed in new tab/window.
 *
 * this may be handy to facilitate displaying content for printing,
 * but content/*.html pages could also just link ../snu.css if preferred.
 */

/* dimensions and positioning */

html {
  margin-left: 6px;
  margin-right: 6px;
}

/* text */

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
