/*
 * stylesheet for index.html main elements and navigation sidebar
 *
 * edit this file to change color scheme and fonts,
 * though it ought to be functional without changes.
 */

/* colors */

body, .nav-active {
    background-color: #70D0D0;
    color: black;
}

#main_label {
    background-color: #008080;
    color: white;
}

#nav_sidebar, #nav_open_button, #nav_close_button {
    background-color: #30A0A0;
    color: white;
}

/* dimensions and positioning */

header {
    position: fixed; /* to prevent scrolling of header bar on mobile devices */
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

#nav_sidebar {
    width: 160px;
    height: 90%;
    margin-top: 40px; /* same as header height */
}

.nav-sidebar-accordion-div > .nav-sidebar-button {
    margin-left: 20px;
    width: 139px; /* nav_sidebar width - margin-left - 1 */
}

.nav-sidebar-button, .nav-sidebar-accordion {
    height: 36px; /* does not have to be same as header height */
}

#nav_open_button, #nav_close_button {
    height: 40px; /* same as header height */
    width: 50px;
}

#main_label {
    position: absolute;
    top: 0;
    bottom: 40px; /* same as header height */
    left: 50px; /* same as nav_open/close_button width */
    right: 0;
    height: 40px; /* same as header height */
    line-height: 40px; /* same as header height */
    vertical-align: middle;
    text-align: center;
}

#main {
  position: absolute;
  top: 40px; /* same as header height */
  bottom: 0;
  left: 160px; /* same as nav_sidebar width */
  right: 0;
}

/* borders */

#main_label, #nav_open_button { /* but not nav_close_button, so it blends into nav_sidebar */
    border-bottom: 1px solid white;
}

#nav_sidebar, #nav_open_button, #nav_close_button {
    border-right: 1px solid white;
}

#main_iframe {
    border: none;
    width: 100%;
    height: 95%;
}

/* text */

#nav_open_button, #nav_close_button {
    text-align: left;
}

.nav-sidebar-accordion-caret {
    vertical-align: 1px;
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}
