/*
 * stylesheet for page*.html content files
 *
 * main.css attributes inherited when content pages displayed in main iframe,
 * and not inherited when displayed in new tab/window.
 *
 * this could be handy to facilitate displaying content for printing,
 * but content pages could also just link ../main.css if that is desired.
 */

/* dimensions and positioning */

html {
  margin-left: 6px;
  margin-right: 6px;
}

/* text */

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
